@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jersey+20&family=Pixelify+Sans:wght@400..700&family=Varela+Round&display=swap');

*{
    font-family: "Poppins", serif;
}

:root{
    --cor1:#23231A;
    --cor2:#322f20;
    --cor3:#6A5837;
    --cor4:#988f2a;
    --cor5:#FE5F00;
}

body{
    height: 100vh;
    background-image: linear-gradient(to bottom right, #6A5837,#6a5837);
}
header{
    background-color: var(--cor1);
    margin: -8px;
}

nav{
    background-color: var(--cor2);
    text-align: center;
    padding: 20px;
}

nav > ul{
    list-style-type: none;
    display: flex;
    margin: auto;
    justify-content: center;
    
}

nav > ul > li > a  {
    color: white;
    text-decoration: none;
    font-size: 15pt;
    margin: 10px;
    text-align: center;
    text-shadow: #988f2a;
    background-color: #23231A;
    
    border-radius: 10px;
    padding: 5px;
}

section#front-end, section#back-end{
    background-color: #23231A;
    padding: 10px;
    margin: -8px;

    
}

hr{
    border-color: #6a9100;
    height: 70px;
    margin-top: 30px;
    animation: move 1090ms infinite; /* the animation to up and down*/
    position: relative;
}

section > ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
section > h1{
    text-align: center;
    color: #a89e28;
}

section > ul > li {
    padding: 20px;
    margin: 5px;
    background-color: #322f20;
    border-radius: 10px;
    border-color: #6a9100;
    border-width: 200px;
    box-shadow: #6a9100;
    
}

ul > li > a >img{
    width: 70px;
}

ul > li > h1{
    color: black;
    text-decoration: none;
    display: none;
}
.title{
    font-size: 50px;
    font-family: "Jersey 20", sans-serif;
    color: rgb(120, 230, 17);
    text-align: center;
    animation: move 1090ms infinite; /* the animation to up and down*/
    position: relative;
}
@keyframes move {
    0%{top:0px}
    50%{top: 5px;}
    100%{top: 0px;}
}
footer{
    text-align: center;
    background-color: #6A5837;
}
